body {
    background-image: url('https://media3.giphy.com/media/LL5FiPJnlFnjy/200w.webp?cid=ecf05e47sxe7ym1pjmvlf5d9yybpksp6t3b2p8xvq55s8bx8&rid=200w.webp');
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid black;
    width: 60%;
    /* background-image: url('https://media3.giphy.com/media/LL5FiPJnlFnjy/200w.webp?cid=ecf05e47sxe7ym1pjmvlf5d9yybpksp6t3b2p8xvq55s8bx8&rid=200w.webp'); */
}

header {
    background-color: red;
    color: chartreuse;
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 30px;
}

header span {
    position: relative;
    top: 10px;
}

.body .line {
    background-color: royalblue;
    padding: 20px;
    height: auto;
    text-align: center;
    font-size: 24px;
}

.body .title {
    padding: 15px;
}
.body input {
    border: red;
    border-radius: 5px;
    width: 300px;
    height: 30px;
}

.body button {
    height: 30px;
}

img {
    position: absolute;
    height: 180px;
    width: 180px;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .container {
        position: absolute;
        width: 100%;
        height: fit-content;
    }
    header {
        font-size: 24px;
    }
    .body .line {
        font-size: 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .body input {
        position: relative;
        width: 60%;
    }
    .body button {
        position: relative;
        margin-top: 20px;
    }
}
